extends layout
block content
	body.container
		img#logo(src='/images/logo.jpg')
		h2.page-header Tickets Search in Jira
		.panel.panel-default
			.panel-heading
				form#searchKeyWords.form-inline(name='search', method='post', action='/query')
					.form-group
						label.search-label Select Project:
						select.form-control(name='project')
							option(value='LRN') Learn
							option(value='ULTRA') Ultra
					.form-group
						label.search-label Input key words for Search:
						input#inputKeyWords.form-control(name='keywords', type='text', placeholder='key words')
					button.btn.btn-default(type='submit') Search

		.panel.panel-default
			.panel-heading Search Result list
				a.btn.btn-default.create(href='https://jira.bbpd.io:8443/secure/CreateIssue!default.jspa' target='_blank') Create issue
			.panel-body
				table.table.table-bordered.table-striped(border='1')
					tr
						th(width="150px") ID
						th Summary
						th Status
						th Order
					each jiraTicket, i in jiraList
						tr
							td(align="left")
								a(href="https://jira.bbpd.io:8443/browse/" + jiraTicket.key target='_blank')= jiraTicket.key
							td(align="left")= jiraTicket.fields.summary
							td= jiraTicket.fields.status.name
							td=i + 1
				p(name='empty')=empty